In [1]:
%load_ext autoreload
%autoreload 2

In [2]:
import os 
import sys
import time

project_dir_path = '/home/onoue/ws/lukasiewicz_1'
sys.path.append(project_dir_path)

print(sys.path)

import numpy as np
import pandas as pd
import cvxpy as cp

from src.setup_problem import Setup
from src.format_winston_data import WinstonDataFormatter_v2
from src.format_winston_data import generate_and_save_unsupervised_data
from src.misc import *

['/home/onoue/ws/lukasiewicz_1/notebooks/winston_2', '/usr/lib/python311.zip', '/usr/lib/python3.11', '/usr/lib/python3.11/lib-dynload', '', '/home/onoue/ws/lukasiewicz_1/myenv/lib/python3.11/site-packages', '/home/onoue/ws/lukasiewicz_1']

# 0. データの準備

In [3]:
file_name_list = os.listdir("./winston_pca_2/")
file_path_list = [os.path.join("./winston_pca_2", file_name) for file_name in file_name_list]

dfs = [pd.read_csv(file, index_col=0) for file in file_path_list]
df_data = pd.concat(dfs, ignore_index=True)

df_data

,animal,0,1,2,3,4,5,6,7,8,...,190,191,192,193,194,195,196,197,198,199
0,cheetah,-20.060238,-11.480357,15.623350,-6.305073,-6.696852,4.830261,-5.379857,2.432294,9.030500,...,0.125542,-0.080214,0.926857,-0.314778,-0.374476,-0.507503,0.318324,-0.128268,-0.045080,-0.206593
1,cheetah,-48.204088,18.591528,4.103486,2.440145,-10.566893,-14.992575,-2.351199,9.304754,-7.887125,...,-1.832162,-0.673048,1.983817,2.164188,0.928383,1.989706,0.480698,-1.720412,0.499422,-4.106438
2,cheetah,-13.188533,-23.096405,2.572728,-3.706356,2.869635,-3.104971,3.141484,1.542608,5.318094,...,-0.348495,-0.930289,0.061565,0.067395,-0.050295,-0.080876,0.121771,-0.493991,-0.457423,-0.195045
3,cheetah,-20.250505,-9.332849,-3.731214,-2.956475,-4.907211,-2.487805,-10.028531,1.898730,1.671651,...,-0.171502,-0.323352,0.199332,0.127779,-0.849878,-0.229659,-0.313232,0.213185,-1.336118,-0.310712
4,cheetah,-20.059971,-1.582472,-7.138032,-11.185771,18.417116,-1.680940,-6.145799,-0.107130,3.890427,...,1.681730,0.600582,2.152980,-2.025689,-0.199217,-0.165662,-0.718164,2.490273,0.523311,1.913032
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
6495,ostrich,31.291656,6.482612,-11.086591,-10.524747,4.290951,6.700974,21.181147,-8.942196,5.719353,...,-0.332219,-0.871387,-0.577859,-0.421761,0.225885,-0.944522,0.130902,-0.473095,0.188853,-0.326705
6496,ostrich,-6.391303,-17.068252,-1.496960,-14.264796,3.159807,-2.084721,8.642888,-2.086789,-8.758540,...,-2.444848,-1.743830,-1.234302,-1.398103,-3.151357,0.797208,-0.660319,0.189967,0.322385,-0.457151
6497,ostrich,-33.814540,10.456383,15.762074,6.935928,-1.560411,-3.322494,-3.718956,10.833294,6.694091,...,0.151620,0.986486,-1.042699,0.025971,-0.971935,-0.679953,0.292943,0.210233,0.598297,-0.516183
6498,ostrich,34.769526,21.752479,-3.132908,5.004080,3.544195,14.021153,-4.892887,1.884487,3.299574,...,-0.115667,-0.087014,0.304643,0.442750,0.269512,-0.045713,0.555787,-0.068632,0.019545,-0.239788
6499,ostrich,41.012654,0.161798,-2.324143,6.420273,4.615912,-9.290017,-16.533954,-0.835070,4.293607,...,0.474553,2.327052,2.262115,-1.801251,-1.011388,3.390245,-1.498736,0.818171,-1.745788,0.662883

In [4]:
df_labels = pd.read_csv('./labels.csv', index_col=0).fillna(-1)
display(df_labels.head())
print(df_labels.shape)

            albatross  cheetah  ostrich  penguin  zebra
hair(x)          -1.0      1.0     -1.0     -1.0    1.0
mammal(x)        -1.0      1.0     -1.0     -1.0    1.0
milk(x)          -1.0      1.0     -1.0     -1.0   -1.0
feather(x)        1.0     -1.0      1.0      1.0   -1.0
bird(x)           1.0     -1.0      1.0      1.0   -1.0

(31, 5)

In [6]:
def random_split_by_label(df, label_column='animal', train_size=0.8, sample_size=None, selected_labels=None):
    # 選択されたラベルのみを対象にする
    if selected_labels is not None:
        df = df[df[label_column].isin(selected_labels)]

    # サンプルサイズがNoneの場合、元のデータをそのまま返す
    if sample_size is None:
        return df.reset_index(drop=True), pd.DataFrame()  # テストデータは空のDataFrameを返す

    # 各ラベル毎に指定の個数をランダムに抜き出す
    sampled_dataframes_train = []
    sampled_dataframes_test = []
    unique_labels = df[label_column].unique()

    for label in unique_labels:
        label_data = df[df[label_column] == label]
        # サンプリング
        sample_data = label_data.sample(n=sample_size, random_state=42)
        # インデックスをリセット
        sample_data = sample_data.reset_index(drop=True)
        # 訓練データとテストデータに分割
        split_idx = int(train_size * len(sample_data))
        train_data = sample_data.loc[:split_idx - 1, :]
        test_data = sample_data.loc[split_idx:, :]
        # リストに追加
        sampled_dataframes_train.append(train_data)
        sampled_dataframes_test.append(test_data)

    # 訓練データを結合
    result_df_train = pd.concat(sampled_dataframes_train, ignore_index=True)
    # テストデータを結合
    result_df_test = pd.concat(sampled_dataframes_test, ignore_index=True)

    return result_df_train, result_df_test

# 使用例
original_df = df_data.copy()
selected_labels = ['cheetah', 'albatross']
train_data, test_data = random_split_by_label(original_df, train_size=0.8, sample_size=125, selected_labels=selected_labels)

print("Train Data:")
print(train_data)

print("\nTest Data:")
print(test_data)

Train Data:
        animal          0          1          2          3          4  \
0      cheetah  15.402662  -3.807138   3.632292  32.764571  -5.664949
1      cheetah -50.593476  -7.922209 -11.033482   6.115892   2.230875
2      cheetah -10.398780  49.083416  12.765650   3.406599   2.639825
3      cheetah  -0.934629  -2.057008  -0.887415  -7.865467  -7.703866
4      cheetah  10.387551   2.727248   0.374913   3.122029  -1.818549
..         ...        ...        ...        ...        ...        ...
195  albatross -10.554250 -10.180245  15.334719   1.620547  -4.822957
196  albatross   2.097137  31.900102  -2.181612   9.192555   0.074148
197  albatross -34.750480   5.682939  -2.522935   1.560119   4.492572
198  albatross -51.186763  -6.981031  -5.796971 -21.319474   7.340640
199  albatross   6.656991 -26.175263 -13.083918   0.192902 -10.015450

             5          6          7         8  ...       190       191  \
0     2.876672   3.040756  -8.643766  7.808112  ... -4.031143  0.502019
1    -2.827979  -8.589891   3.639380 -0.459745  ...  0.152746  0.734783
2    -1.695449 -15.687951  -9.690763 -6.096559  ... -0.634467 -0.049114
3    -2.916751   1.805643  -4.821153  0.240899  ... -0.383386  0.378471
4    -7.941755  -2.613647  -8.021543 -0.653920  ... -1.009989 -1.500397
..         ...        ...        ...       ...  ...       ...       ...
195   5.442124   2.169065   3.001244 -3.199404  ...  0.026839  1.849687
196  17.854490  -5.033813  -3.029893 -1.265763  ...  0.172376  0.070216
197   5.512418  -0.092059  13.299925 -8.100403  ...  1.065749  2.863806
198  -0.598602   4.284274 -10.050741 -5.227979  ...  1.667506 -0.502423
199  -4.780711   2.964988  -0.187722  0.533370  ... -0.453157  1.265441

          192       193       194       195       196       197       198  \
0    0.630617  0.088934 -0.005006  2.169094 -1.383973 -0.150240 -2.225031
1    0.300104 -0.220096 -0.999787 -0.102783 -0.280356 -0.086377 -0.098555
2   -0.563111  0.451740  0.678812  0.386950 -0.803237 -0.082105 -0.050870
3    1.924444  1.428540  0.363502  0.191559 -1.472842 -2.003535  0.022197
4   -0.375630 -1.125995 -0.887603  1.666718 -0.122017 -0.161629  0.449841
..        ...       ...       ...       ...       ...       ...       ...
195 -2.736205  0.890098  1.161233 -0.217144 -0.313529 -0.044662  0.352890
196 -0.786730 -0.045865  0.129781  0.010598 -0.116206  0.678112 -0.207397
197 -0.142327  1.671186 -1.470173 -0.542646  0.696255 -0.044227  0.497618
198  0.967173  1.614759 -0.238520 -0.303419 -0.560537 -0.460491  0.500064
199  0.533579 -0.331185  1.242845  1.407288 -0.339802 -0.524603 -0.736809

          199
0   -0.375203
1   -0.002831
2   -0.782950
3   -0.438671
4    0.364122
..        ...
195 -0.387748
196  0.046922
197 -1.096086
198 -0.487871
199 -0.100201

[200 rows x 201 columns]

Test Data:
       animal          0          1          2          3          4  \
0     cheetah   8.292308  30.280626  -2.508785 -12.189169   1.316509
1     cheetah   1.065279  -3.032873   1.046417   1.808066 -13.745040
2     cheetah  28.422621   8.662941  -2.154647  -5.213169   6.219972
3     cheetah  21.324583 -25.946052  -4.888448   2.588104   2.207624
4     cheetah  -6.533477  -7.372995 -12.838421   5.062599  -2.775070
5     cheetah  16.311209 -18.224163  -2.616149  -6.577824 -20.459782
6     cheetah  13.835418 -21.133031  -6.134483 -12.162707  -5.713739
7     cheetah  -6.660448   2.167766 -33.302322  12.701558  -4.967775
8     cheetah  15.782286   5.764110  15.984461   6.517881   2.648510
9     cheetah -24.943912   1.645299  -0.394068  -6.902518  -9.412268
10    cheetah  -8.071182  -2.615241  12.109689  -7.821041  -5.998897
11    cheetah  21.966588   2.560958  13.126214   5.029296  13.312012
12    cheetah  17.791699  -7.603772   6.315051   2.116668   3.568556
13    cheetah -21.012722   9.204968 -19.249679   5.559085   9.205617
14    cheetah   1.210573  -1.781462   8.565059  -0.218952   6.262814
15    cheetah  -2.757890  -1.079801   6.381247  -1.765975  -4.065839
16    cheetah -12.630673 -13.271759  12.615461   5.372484  11.473782
17    cheetah -23.734558  -5.535082   8.090163   2.480296  -6.100488
18    cheetah  14.277275  -5.556205  -5.343628   1.029240   1.529175
19    cheetah -17.143640  20.432612   1.264984   5.289346  -3.205881
20    cheetah  16.068385  -9.444343  -1.471011   1.851903  -2.072042
21    cheetah  18.673871  -1.198953   1.406657  16.471226  -0.040832
22    cheetah -19.458365 -30.175658   1.338572  -0.471768   0.457240
23    cheetah  24.071714  23.825727 -13.517024   0.467132   5.772614
24    cheetah   4.873304  10.566671  -1.291276   6.212617   3.889934
25  albatross   2.675247  57.617402   4.552378  -1.059011  13.001656
26  albatross -28.390165   0.057127  -3.078656   5.541691  -8.324132
27  albatross -39.448358 -21.818776 -17.028287 -35.269537  -8.107815
28  albatross -50.389221 -15.711160  12.557383  15.515441   7.915783
29  albatross  37.112343  -4.472973  -8.652928  12.418722   0.948820
30  albatross  77.033304  -2.275331 -17.190902   1.111511   7.734141
31  albatross  63.783469 -14.049096  -7.936614   9.039672   6.077605
32  albatross  95.859696 -13.882566 -11.100453  -1.159558  -0.065038
33  albatross  -4.870750  44.994198   2.121355   3.217817   4.278180
34  albatross -36.615811  11.739112 -12.314823 -15.876099  11.446152
35  albatross -48.398396   2.727513  15.182305  -2.312335  -9.202300
36  albatross  41.526440   2.435393  -7.908291  -5.731068  -9.640880
37  albatross -19.605750  30.377384   4.770154   4.870918  -4.445179
38  albatross -17.194760   5.537871 -10.302381  17.185960  -0.619976
39  albatross  -1.068921  11.635095  -6.376190  -0.533794   1.901063
40  albatross  54.874517  -7.041779   3.813349  -3.754976  16.194711
41  albatross -20.223795 -19.355900 -17.974974  -9.278749  11.597458
42  albatross  55.208413  -8.352058  10.398539  14.837081   1.750444
43  albatross -62.330280  -4.454704  13.888504  -3.874861   1.709231
44  albatross -13.055561 -23.172151  -3.872835  27.251250  12.531013
45  albatross  14.864724  -0.080599 -20.024745 -16.137463  -4.198221
46  albatross  20.827041  26.231673   7.080213   1.461303   7.685092
47  albatross -64.638909  -6.141630   2.750406  -6.645811   5.570161
48  albatross  44.078172 -11.412094  14.074122  -0.201531  -0.337383
49  albatross -29.562119   5.878645  -9.768065   3.077451   9.846395

            5          6          7          8  ...       190       191  \
0    1.452295   0.662887  -2.593478   7.865164  ...  0.127151  0.234225
1  -10.891609   5.774404   8.382609   1.120438  ... -0.974262 -1.424370
2   -2.105719   1.345773  -0.472902   2.814426  ... -0.915350  0.553261
3    5.901980   6.962974   3.425877   2.180212  ...  0.737898 -0.838535
4    6.158497  -0.320145  -2.181440  -8.993230  ... -0.369579 -1.692979
5   24.642137  -0.327126  -6.312727   6.685770  ...  1.740966 -0.289081
6   11.245564   3.923736  12.656053  -3.379921  ... -0.690815  0.317957
7   -9.686252 -18.143194   8.152889   4.894571  ...  1.603252  0.692906
8    6.206959  -7.388203  -3.653595   5.470403  ... -0.410580  0.644717
9    3.537258   0.666838   1.124015  -4.340835  ... -0.493366  1.721086
10  -5.044335   3.139158   9.030068  11.362554  ... -1.042636 -1.433298
11   1.524930  -6.683547   8.131403  10.539285  ... -2.305333  0.509081
12  -9.773286   1.002160   7.622930  -4.763523  ... -0.624157 -1.722537
13  -7.284438  -1.393153  -5.065953 -10.004413  ... -4.096449  1.338790
14  -4.745330  -1.875774   2.640870  -3.026912  ...  0.516155  1.894035
15   0.933649  -6.829551   0.630964   2.274376  ... -0.055518 -0.133831
16   1.735472  -2.986412  -2.629155  -1.225940  ... -0.717677  1.600303
17  -2.617194  -2.487642  -1.530346  -0.290071  ...  0.057847 -0.237823
18  -6.298900   3.446528  -1.607609  -1.904857  ...  0.061884 -0.247501
19 -10.178121  -3.318682 -15.612835  11.310314  ... -2.870528  0.049734
20   0.347099  -1.899837  -4.761434  -4.223815  ... -0.066011  0.299088
21   3.885707   1.229486   2.715650   0.613120  ... -0.957379 -1.411519
22  -5.059174  -3.180968   7.569922  -0.396774  ...  0.857284  1.549069
23   7.559933   9.433907   5.633430   6.915037  ...  0.215508  0.009732
24  -2.004644   3.041870  -3.602614   2.542936  ...  0.147241 -1.607820
25   5.615435   4.170340  -3.881596   4.365623  ...  0.449524 -0.004667
26  -1.202405  -7.441537   5.565768   3.242844  ... -1.842143  0.003698
27   4.006727  11.684863  -6.853003   4.212345  ...  0.398495 -0.255041
28  13.348080   6.251867   8.995483   0.474212  ... -0.053677 -0.183861
29  -2.284426   3.718693  -3.903444   1.097334  ...  0.106412  0.376504
30  -2.817624   1.407342  -0.479360  11.612959  ... -0.940388  1.108473
31  -3.380684   4.951140   3.479828  -8.914272  ... -1.161168  0.223187
32  -5.261611   0.077028  -8.600942   5.707840  ...  0.320162 -0.917065
33  14.609589  -1.712767  -2.174732   1.357586  ... -0.738769  0.210903
34  -8.575710   3.640059   2.678182   1.103521  ...  0.192198  0.144036
35  -2.853627   2.016070   1.603005   0.475794  ...  0.015829  0.014254
36 -17.503579 -12.376396  16.619535 -11.016291  ...  0.129020 -0.092180
37   2.738443   6.771426   2.061872   1.538510  ...  0.445484 -1.474673
38   9.060466   7.280633   8.115407  -0.571955  ... -0.795854 -0.716013
39  -5.454145   1.987809 -10.028817   8.469855  ... -0.533577  1.053006
40  -7.377383  -5.262380  -1.162909  -1.955751  ...  0.018594 -0.352793
41  14.913290  -2.658169  10.681411  21.171912  ...  1.474741 -1.187937
42  -5.432718   3.029310  10.479279  -7.235559  ...  0.036763 -0.999010
43   2.143353  -5.176742   3.589491  -0.408608  ...  0.831006  0.496750
44  -6.924192   9.799521  -7.461272  15.221655  ...  0.414048  0.093437
45   1.093523   0.948947  -6.203322  -6.625935  ... -0.239674  0.296816
46   4.879858  -2.680078  -1.569304   0.637903  ...  0.365037  0.264830
47  -2.285834   4.525319   5.945877  -5.325085  ... -1.219241  0.732173
48   7.736953   9.174552  -1.876760   9.308158  ... -0.611605  0.578356
49  -1.337401  11.868273  -7.087316   1.637896  ...  1.295766 -0.413653

         192       193       194       195       196       197       198  \
0   0.026973  0.601735  0.706454 -0.376523  0.212934  0.234671 -0.050421
1  -0.630855  1.112381 -1.126797  0.259563  1.669981  0.930642  0.928045
2  -0.368945 -0.154758  0.038356  0.347901 -0.105149 -0.141596  0.331212
3   0.200311 -0.297229  0.007516 -0.514221 -0.165555  0.113626 -0.361711
4  -0.007752  0.756700 -2.113139  0.483583 -0.284576 -1.362919  0.625620
5   0.062217  0.262285  0.818919 -0.349098  1.613678 -0.275460 -0.641506
6   0.548322 -1.334905 -1.070883 -1.542768 -0.397584  0.935643 -2.404298
7   0.690078  0.579970 -2.381094  0.435242  1.194179 -1.401055  1.102130
8  -0.296301 -0.489345  1.091475 -1.412721 -0.110570 -1.507842  0.195210
9   0.014568  0.381172  1.432330 -0.014766 -1.202787 -1.366536 -0.077255
10  0.691257  3.709107 -0.292578 -0.215892  2.503613 -1.024885 -1.105167
11 -1.377544  0.819172 -0.372838 -0.057552  2.944976 -2.112471  1.209381
12  2.254226 -0.479423  0.420055 -1.093811  1.280381  0.851293 -0.692270
13 -2.885312 -3.049615 -0.806427  1.196604 -1.632696 -2.356937 -1.400736
14  1.392287  0.327874 -0.501473 -0.519288  1.001098 -1.616159 -0.846380
15  0.346779  0.455712 -0.399212 -0.456875  0.785849  0.315440  0.391909
16 -1.267034  1.919457  0.308001 -0.764106 -1.160529  2.365618 -0.412790
17  0.411629  1.121072  0.310626  0.223901  0.917060  0.114810  0.273007
18 -0.094635  1.149804  0.439478 -0.937191  0.259128 -0.220179 -0.762936
19 -0.139184 -1.125136  1.259935 -4.293626  2.876506  4.496306  3.399711
20 -0.047021  0.438370 -0.623036  0.894883  0.508407  0.059378  0.253876
21  0.987719 -0.368956 -1.196408  0.467061  1.747506  0.617845 -0.776771
22  0.255416  1.477598  0.524457 -1.769729 -0.032035 -0.447892  0.423636
23  0.217755 -0.522301  0.014954  0.522089 -0.226709 -0.668905 -1.297616
24  0.830282 -1.258536  0.157228  0.732372 -1.107289  0.440291  0.943873
25  0.230738 -0.551256  0.890953 -0.709250 -0.463326 -0.779885 -0.181740
26 -2.764312 -0.654193  2.322802 -0.830157 -0.167291  2.438688 -0.509390
27 -0.045394 -0.516282 -0.260386 -0.750344 -0.160089 -0.808716  0.498433
28  0.336197 -1.595212  1.416690  0.044095 -0.123228 -0.063627  2.031087
29 -0.127585  0.172727 -0.358073  0.070019  0.201074 -0.282938 -0.518705
30 -0.335282  0.149998 -0.168668 -0.822485  0.266149  1.130192  0.050586
31  1.006350  0.568505 -0.564251  0.917066  0.300560  0.054531 -1.020874
32 -0.625012  1.567833 -1.055012 -0.123456 -1.745630  1.472555  1.330890
33 -0.795058  0.651218  0.389156 -0.222410  0.462821 -0.746972  0.325378
34 -0.558844 -0.775115  0.406397 -0.569590  0.840128 -0.351305  0.069159
35  0.616186  0.376196 -0.279147  0.068151  0.214983  0.215195  0.052800
36 -1.227742  0.019272 -0.029127 -1.789948 -0.957337  1.157926  0.101610
37 -0.194033 -0.873257 -0.419635 -0.186438 -0.869552 -0.721703 -0.779787
38 -1.702487 -2.130578  0.103600  2.545033 -3.156792 -0.425678  2.115355
39 -0.543939  0.469010  1.502096  2.268147  0.205757  0.421342  1.003223
40  0.833530 -0.456507 -0.317531  0.879491  0.494836 -0.200035 -0.807703
41 -0.483350 -0.565196  1.809449  1.840759 -2.042270  0.982887  0.539558
42 -0.167603  0.158274 -1.122343  0.981690 -0.981007 -1.415384 -0.949681
43  1.225297  0.030832  0.734193 -0.256856  0.234262 -0.099750  0.434358
44 -1.194550 -1.151024  0.966959  1.357264  1.426085 -0.214538 -0.028404
45  0.591981  0.192731  0.369260  0.836484  0.266334  2.901620 -0.412687
46 -0.431844  0.070535  0.106175  0.436619  0.806111  0.604146  0.083623
47  0.234088 -0.471887  0.948906 -0.512160  0.944442 -1.480699  1.653860
48  0.805715 -1.002583  1.484013  0.260523 -1.096160  0.862870  0.029110
49 -0.788372  0.104957  1.801211  1.970126 -1.364346  0.875380  0.002537

         199
0   0.712837
1   0.305732
2  -0.150608
3   0.476461
4   1.438815
5  -1.578118
6   2.101223
7   0.443700
8   0.527585
9   3.119095
10 -0.404684
11 -1.390680
12 -0.634434
13 -3.655629
14  0.540533
15  0.145831
16  2.680877
17  0.016728
18 -0.826176
19  2.043719
20 -0.673813
21  0.595775
22 -0.027918
23  0.374768
24  0.407869
25  0.032080
26  0.047149
27 -0.496639
28  0.347256
29 -0.596159
30 -0.756546
31 -0.305051
32  1.781696
33  0.207367
34 -0.060278
35 -0.062133
36 -1.022386
37 -0.193986
38  1.070982
39 -0.272991
40 -0.415209
41  1.856166
42 -0.639070
43 -1.119901
44  1.410148
45  1.176409
46 -0.277395
47  0.223217
48  0.422954
49 -1.014502

[50 rows x 201 columns]

In [9]:
display(train_data.head())
print(train_data.shape)

,animal,0,1,2,3,4,5,6,7,8,...,190,191,192,193,194,195,196,197,198,199
0,cheetah,15.402662,-3.807138,3.632292,32.764571,-5.664949,2.876672,3.040756,-8.643766,7.808112,...,-4.031143,0.502019,0.630617,0.088934,-0.005006,2.169094,-1.383973,-0.150240,-2.225031,-0.375203
1,cheetah,-50.593476,-7.922209,-11.033482,6.115892,2.230875,-2.827979,-8.589891,3.639380,-0.459745,...,0.152746,0.734783,0.300104,-0.220096,-0.999787,-0.102783,-0.280356,-0.086377,-0.098555,-0.002831
2,cheetah,-10.398780,49.083416,12.765650,3.406599,2.639825,-1.695449,-15.687951,-9.690763,-6.096559,...,-0.634467,-0.049114,-0.563111,0.451740,0.678812,0.386950,-0.803237,-0.082105,-0.050870,-0.782950
3,cheetah,-0.934629,-2.057008,-0.887415,-7.865467,-7.703866,-2.916751,1.805643,-4.821153,0.240899,...,-0.383386,0.378471,1.924444,1.428540,0.363502,0.191559,-1.472842,-2.003535,0.022197,-0.438671
4,cheetah,10.387551,2.727248,0.374913,3.122029,-1.818549,-7.941755,-2.613647,-8.021543,-0.653920,...,-1.009989,-1.500397,-0.375630,-1.125995,-0.887603,1.666718,-0.122017,-0.161629,0.449841,0.364122

(200, 201)

In [10]:
display(test_data.head())
print(test_data.shape)

,animal,0,1,2,3,4,5,6,7,8,...,190,191,192,193,194,195,196,197,198,199
0,cheetah,8.292308,30.280626,-2.508785,-12.189169,1.316509,1.452295,0.662887,-2.593478,7.865164,...,0.127151,0.234225,0.026973,0.601735,0.706454,-0.376523,0.212934,0.234671,-0.050421,0.712837
1,cheetah,1.065279,-3.032873,1.046417,1.808066,-13.745040,-10.891609,5.774404,8.382609,1.120438,...,-0.974262,-1.424370,-0.630855,1.112381,-1.126797,0.259563,1.669981,0.930642,0.928045,0.305732
2,cheetah,28.422621,8.662941,-2.154647,-5.213169,6.219972,-2.105719,1.345773,-0.472902,2.814426,...,-0.915350,0.553261,-0.368945,-0.154758,0.038356,0.347901,-0.105149,-0.141596,0.331212,-0.150608
3,cheetah,21.324583,-25.946052,-4.888448,2.588104,2.207624,5.901980,6.962974,3.425877,2.180212,...,0.737898,-0.838535,0.200311,-0.297229,0.007516,-0.514221,-0.165555,0.113626,-0.361711,0.476461
4,cheetah,-6.533477,-7.372995,-12.838421,5.062599,-2.775070,6.158497,-0.320145,-2.181440,-8.993230,...,-0.369579,-1.692979,-0.007752,0.756700,-2.113139,0.483583,-0.284576,-1.362919,0.625620,1.438815

(50, 201)

In [15]:
data_formatter_1 = WinstonDataFormatter_v2(train_data, df_labels)
data_formatter_1.format_data()
save_dir_path = os.path.join(project_dir_path, "inputs/winston_pca_100_two_animals_v2")

path_tmp = os.path.join(save_dir_path, "train")

if not os.path.exists(path_tmp):
    os.makedirs(path_tmp)

data_formatter_1.save_as_csv(path_tmp)
generate_and_save_unsupervised_data(path_tmp, data_num=30, data_dim=200)

path_tmp = os.path.join(save_dir_path, "test")

if not os.path.exists(path_tmp):
    os.makedirs(path_tmp)

data_formatter_2 = WinstonDataFormatter_v2(test_data, df_labels)
data_formatter_2.format_data()
data_formatter_2.save_as_csv(path_tmp)

Done!

In [16]:
train_data.to_csv(os.path.join(save_dir_path, "train_base.csv"))
test_data.to_csv(os.path.join(save_dir_path, "test_base.csv"))

# 1. 

---

- 動物が cheetah と albatross のみ
- 各 predicate に対してデータ数は 100 個

In [27]:
data_dir_path = os.path.join(project_dir_path, 'inputs/winston_pca_100_two_animals_v2')

train_data_dir_path = os.path.join(data_dir_path, "train")

file_list = os.listdir(train_data_dir_path)

L_files = [filename.split('.csv')[0] for filename in file_list 
           if filename.startswith('L') and filename.endswith('.csv')]

U_files = [filename.split('.csv')[0] for filename in file_list 
           if filename.startswith('U') and filename.endswith('.csv')]

file_names_dict = {
    'supervised': L_files,
    'unsupervised': U_files,
    'rule': ['rules_2']
}

problem_instance = Setup(train_data_dir_path, file_names_dict)
objective, constraints = problem_instance.main(c1=10, c2=10)

start_time = time.time()
problem = cp.Problem(objective, constraints)
result = problem.solve(verbose=True)
end_time = time.time()
print()
print(f'学習時間: {end_time - start_time} 秒')

Loading data ...
Done in 0.603381872177124 seconds!

Loading rules ...
Done in 0.0004291534423828125 seconds!

Identifying predicates ...
Done in 0.0013113021850585938 seconds!

Constructing objective function ...
Done in 1.2085447311401367 seconds!

Constructing constraints ...
Done in 7.379160404205322 seconds!

All done
===============================================================================
                                     CVXPY
                                     v1.3.2
===============================================================================

/home/onoue/ws/lukasiewicz_1/myenv/lib/python3.11/site-packages/cvxpy/problems/problem.py:157: UserWarning: Objective contains too many subexpressions. Consider vectorizing your CVXPY code to speed up compilation.
  warnings.warn("Objective contains too many subexpressions. "

(CVXPY) Nov 12 03:35:15 PM: Your problem has 12463 variables, 22380 constraints, and 0 parameters.
(CVXPY) Nov 12 03:35:17 PM: It is compliant with the following grammars: DCP, DQCP
(CVXPY) Nov 12 03:35:17 PM: (If you need to solve this problem multiple times, but with different data, consider using parameters.)
(CVXPY) Nov 12 03:35:17 PM: CVXPY will first compile your problem; then, it will invoke a numerical solver to obtain a solution.
-------------------------------------------------------------------------------
                                  Compilation
-------------------------------------------------------------------------------
(CVXPY) Nov 12 03:35:20 PM: Compiling problem (target solver=ECOS).
(CVXPY) Nov 12 03:35:20 PM: Reduction chain: Dcp2Cone -> CvxAttr2Constr -> ConeMatrixStuffing -> ECOS
(CVXPY) Nov 12 03:35:20 PM: Applying reduction Dcp2Cone
(CVXPY) Nov 12 03:35:28 PM: Applying reduction CvxAttr2Constr
(CVXPY) Nov 12 03:35:32 PM: Applying reduction ConeMatrixStuffing
(CVXPY) Nov 12 03:44:14 PM: Applying reduction ECOS
(CVXPY) Nov 12 03:44:23 PM: Finished problem compilation (took 5.454e+02 seconds).
-------------------------------------------------------------------------------
                                Numerical solver
-------------------------------------------------------------------------------
(CVXPY) Nov 12 03:44:23 PM: Invoking solver ECOS  to obtain a solution.

ECOS 2.0.10 - (C) embotech GmbH, Zurich Switzerland, 2012-15. Web: www.embotech.com/ECOS

It     pcost       dcost      gap   pres   dres    k/t    mu     step   sigma     IR    |   BT
 0  +2.276e+03  -8.355e+03  +2e+05  7e-01  3e+00  1e+00  7e+00    ---    ---    1  2  - |  -  -
 1  -1.366e+03  -3.278e+03  +5e+04  2e-01  5e-01  9e-01  2e+00  0.8688  1e-01   1  1  1 |  0  0
 2  -7.219e+02  -1.619e+03  +3e+04  1e-01  2e-01  5e-01  9e-01  0.6078  2e-01   2  1  1 |  0  0
 3  -4.181e+02  -1.075e+03  +2e+04  8e-02  2e-01  4e-01  6e-01  0.4209  3e-01   2  1  1 |  0  0
 4  -2.022e+02  -7.670e+02  +1e+04  7e-02  2e-01  3e-01  5e-01  0.2974  4e-01   2  2  2 |  0  0
 5  -1.841e+02  -6.762e+02  +1e+04  6e-02  1e-01  3e-01  4e-01  0.3527  6e-01   3  2  2 |  0  0
 6  -7.198e+01  -4.973e+02  +1e+04  6e-02  1e-01  3e-01  3e-01  0.5304  6e-01   3  2  2 |  0  0
 7  +2.194e+02  -2.916e+01  +6e+03  3e-02  6e-02  1e-01  2e-01  0.7492  5e-01   3  2  2 |  0  0
 8  +6.639e+02  +5.746e+02  +2e+03  1e-02  2e-02  5e-02  7e-02  0.9638  3e-01   3  2  2 |  0  0
 9  +7.539e+02  +6.927e+02  +1e+03  8e-03  1e-02  4e-02  5e-02  0.5623  4e-01   3  2  2 |  0  0
10  +8.890e+02  +8.666e+02  +5e+02  3e-03  5e-03  1e-02  2e-02  0.8788  3e-01   2  2  2 |  0  0
11  +9.235e+02  +9.105e+02  +3e+02  2e-03  3e-03  8e-03  1e-02  0.5841  3e-01   2  2  2 |  0  0
12  +9.439e+02  +9.362e+02  +2e+02  1e-03  2e-03  4e-03  6e-03  0.5078  2e-01   3  2  2 |  0  0
13  +9.513e+02  +9.457e+02  +1e+02  8e-04  1e-03  3e-03  5e-03  0.6496  6e-01   2  2  2 |  0  0
14  +9.612e+02  +9.582e+02  +7e+01  4e-04  7e-04  2e-03  2e-03  0.9248  5e-01   3  2  2 |  0  0
15  +9.675e+02  +9.661e+02  +3e+01  2e-04  3e-04  8e-04  1e-03  0.9890  5e-01   3  2  2 |  0  0
16  +9.714e+02  +9.710e+02  +9e+00  5e-05  9e-05  2e-04  3e-04  0.8786  2e-01   2  2  2 |  0  0
17  +9.724e+02  +9.723e+02  +3e+00  2e-05  3e-05  8e-05  1e-04  0.8388  2e-01   3  2  2 |  0  0
18  +9.727e+02  +9.726e+02  +1e+00  8e-06  1e-05  3e-05  5e-05  0.9267  4e-01   3  2  2 |  0  0
19  +9.728e+02  +9.728e+02  +3e-01  2e-06  3e-06  9e-06  1e-05  0.9890  3e-01   3  2  2 |  0  0
20  +9.729e+02  +9.729e+02  +1e-01  8e-07  1e-06  3e-06  5e-06  0.7658  2e-01   3  2  2 |  0  0
21  +9.729e+02  +9.729e+02  +6e-02  4e-07  6e-07  2e-06  2e-06  0.9118  4e-01   3  2  2 |  0  0
22  +9.729e+02  +9.729e+02  +2e-02  1e-07  2e-07  4e-07  6e-07  0.9890  3e-01   2  2  2 |  0  0
23  +9.729e+02  +9.729e+02  +5e-03  3e-08  5e-08  1e-07  2e-07  0.8917  2e-01   2  2  2 |  0  0
24  +9.729e+02  +9.729e+02  +1e-03  8e-09  1e-08  3e-08  5e-08  0.9228  2e-01   3  2  2 |  0  0
25  +9.729e+02  +9.729e+02  +4e-04  3e-09  4e-09  1e-08  2e-08  0.8941  3e-01   2  2  2 |  0  0
26  +9.729e+02  +9.729e+02  +2e-04  9e-10  2e-09  4e-09  6e-09  0.7755  2e-01   3  2  2 |  0  0
27  +9.729e+02  +9.729e+02  +6e-05  4e-10  6e-10  2e-09  2e-09  0.8222  3e-01   3  2  2 |  0  0
28  +9.729e+02  +9.729e+02  +2e-05  1e-10  2e-10  6e-10  9e-10  0.9061  3e-01   2  1  1 |  0  0
29  +9.729e+02  +9.729e+02  +7e-06  4e-11  7e-11  2e-10  2e-10  0.9146  2e-01   2  1  1 |  0  0

OPTIMAL (within feastol=6.5e-11, reltol=6.8e-09, abstol=6.6e-06).
Runtime: 35.251907 seconds.

-------------------------------------------------------------------------------
                                    Summary
-------------------------------------------------------------------------------
(CVXPY) Nov 12 03:44:58 PM: Problem status: optimal
(CVXPY) Nov 12 03:44:58 PM: Optimal value: 9.729e+02
(CVXPY) Nov 12 03:44:58 PM: Compilation took 5.454e+02 seconds
(CVXPY) Nov 12 03:44:58 PM: Solver (including time spent in interface) took 3.530e+01 seconds

学習時間: 583.8887090682983 秒

In [28]:
def test_trained_predicate(predicates_dict, test_data_dict):
    result_dict = {}
    p_names = predicates_dict.keys()

    for p_name in p_names:
        pred_vals = []
        preds = []

        p = predicates_dict[p_name]
        test_data = test_data_dict[p_name]

        if isinstance(test_data, pd.DataFrame):
            test_data = np.array(test_data)

        cnt = 0

        for data in test_data:

            x, ans = data[:-1], data[-1]
            pred_val = p(x).value
            pred_vals.append(pred_val)

            if (pred_val >= 0.5 and ans == 1) or (pred_val < 0.5 and ans == -1):
                cnt += 1

            pred = (pred_val >= 0.5 and ans == 1) or (pred_val < 0.5 and ans == -1)
            preds.append(pred)

        p_arr = np.hstack([test_data, 
                           np.array(pred_vals).reshape(-1,1), 
                           np.array(preds).reshape(-1, 1)])
        
        # p_df = pd.DataFrame(p_arr, columns=['r', 'g', 'b', 'Ans', 'pred_val', 'pred'])

        result_dict[p_name] = p_arr

        print(cnt)
        print(f'Accuracy of {p_name}: {cnt / len(test_data)}')

    return result_dict

In [31]:
test_data_dir_path = os.path.join(data_dir_path, "test")
file_path_1 = os.path.join(test_data_dir_path, "L_albatross(x).csv")
file_path_2 = os.path.join(test_data_dir_path, "L_cheetah(x).csv")

In [33]:
test_data = {
    'albatross(x)': np.array(pd.read_csv(file_path_1, index_col=0)),
    'cheetah(x)': np.array(pd.read_csv(file_path_2, index_col=0))
}

In [35]:
p_dict = problem_instance.predicates_dict
selected_predicates = ['cheetah(x)', 'albatross(x)']
selected_p_dict = {key: value for key, value in p_dict.items() if key in selected_predicates}

In [36]:
res_dict = test_trained_predicate(selected_p_dict, test_data)

25
Accuracy of cheetah(x): 0.5
25
Accuracy of albatross(x): 0.5

In [37]:
res_dict

{'cheetah(x)': array([[ 8.29230805e+00,  3.02806264e+01, -2.50878517e+00, ...,
          1.00000000e+00,  6.81793554e-01,  1.00000000e+00],
        [ 1.06527921e+00, -3.03287332e+00,  1.04641680e+00, ...,
          1.00000000e+00, -1.01313778e+00,  0.00000000e+00],
        [ 2.84226211e+01,  8.66294058e+00, -2.15464666e+00, ...,
          1.00000000e+00, -1.67796147e-02,  0.00000000e+00],
        ...,
        [-6.46389085e+01, -6.14163022e+00,  2.75040551e+00, ...,
         -1.00000000e+00,  5.47786290e+00,  0.00000000e+00],
        [ 4.40781719e+01, -1.14120938e+01,  1.40741224e+01, ...,
         -1.00000000e+00, -2.79395426e-01,  1.00000000e+00],
        [-2.95621189e+01,  5.87864528e+00, -9.76806457e+00, ...,
         -1.00000000e+00, -2.13455081e+00,  1.00000000e+00]]),
 'albatross(x)': array([[  8.29230805,  30.28062643,  -2.50878517, ...,  -1.        ,
           0.31820645,   1.        ],
        [  1.06527921,  -3.03287332,   1.0464168 , ...,  -1.        ,
           2.01313778,   0.        ],
        [ 28.42262108,   8.66294058,  -2.15464666, ...,  -1.        ,
           1.01677961,   0.        ],
        ...,
        [-64.63890852,  -6.14163022,   2.75040551, ...,   1.        ,
          -4.4778629 ,   0.        ],
        [ 44.07817186, -11.41209381,  14.0741224 , ...,   1.        ,
           1.27939543,   1.        ],
        [-29.56211887,   5.87864528,  -9.76806457, ...,   1.        ,
           3.13455081,   1.        ]])}

In [20]:
from sklearn.ensemble import RandomForestClassifier
from sklearn.metrics import classification_report, accuracy_score

data_dir_path = os.path.join(project_dir_path, 'inputs/winston_pca_100_two_animals_v2')

train_data = pd.read_csv(os.path.join(data_dir_path, "train_base.csv"), index_col=0)
test_data = pd.read_csv(os.path.join(data_dir_path, "test_base.csv"), index_col=0)

# 特徴量とラベルを分ける
X_train = train_data.drop('animal', axis=1)
X_test = test_data.drop('animal', axis=1)
y_train = train_data['animal']
y_test = test_data['animal']

# Random Forestモデルの作成と学習
rf_model = RandomForestClassifier(n_estimators=100, random_state=42)  # n_estimatorsは適宜変更可能
rf_model.fit(X_train, y_train)

y_pred = rf_model.predict(X_test)

accuracy = accuracy_score(y_test, y_pred)
classification_rep = classification_report(y_test, y_pred)

In [21]:
print(accuracy)
print()
print(classification_rep)

0.54

              precision    recall  f1-score   support

   albatross       0.54      0.52      0.53        25
     cheetah       0.54      0.56      0.55        25

    accuracy                           0.54        50
   macro avg       0.54      0.54      0.54        50
weighted avg       0.54      0.54      0.54        50

In [22]:
from sklearn.svm import SVC
from sklearn.metrics import classification_report, accuracy_score

data_dir_path = os.path.join(project_dir_path, 'inputs/winston_pca_100_two_animals_v2')

train_data = pd.read_csv(os.path.join(data_dir_path, "train_base.csv"), index_col=0)
test_data = pd.read_csv(os.path.join(data_dir_path, "test_base.csv"), index_col=0)

# 特徴量とラベルを分ける
X_train = train_data.drop('animal', axis=1)
X_test = test_data.drop('animal', axis=1)
y_train = train_data['animal']
y_test = test_data['animal']

# SVMモデルの作成と学習
svm_model = SVC(kernel='linear')
svm_model.fit(X_train, y_train)

y_pred = svm_model.predict(X_test)

accuracy = accuracy_score(y_test, y_pred)
classification_rep = classification_report(y_test, y_pred)

In [23]:
print(accuracy)
print()
print(classification_rep)

0.4

              precision    recall  f1-score   support

   albatross       0.40      0.40      0.40        25
     cheetah       0.40      0.40      0.40        25

    accuracy                           0.40        50
   macro avg       0.40      0.40      0.40        50
weighted avg       0.40      0.40      0.40        50

In [24]:
from sklearn.svm import SVC
from sklearn.metrics import classification_report, accuracy_score

data_dir_path = os.path.join(project_dir_path, 'inputs/winston_pca_100_two_animals_v2')

train_data = pd.read_csv(os.path.join(data_dir_path, "train_base.csv"), index_col=0)
test_data = pd.read_csv(os.path.join(data_dir_path, "test_base.csv"), index_col=0)

# 特徴量とラベルを分ける
X_train = train_data.drop('animal', axis=1)
X_test = test_data.drop('animal', axis=1)
y_train = train_data['animal']
y_test = test_data['animal']

# SVMモデルの作成と学習
svm_model = SVC(kernel='rbf')
svm_model.fit(X_train, y_train)

y_pred = svm_model.predict(X_test)

accuracy = accuracy_score(y_test, y_pred)
classification_rep = classification_report(y_test, y_pred)

In [25]:
print(accuracy)
print()
print(classification_rep)

0.66

              precision    recall  f1-score   support

   albatross       0.67      0.64      0.65        25
     cheetah       0.65      0.68      0.67        25

    accuracy                           0.66        50
   macro avg       0.66      0.66      0.66        50
weighted avg       0.66      0.66      0.66        50